* {
    color: green;
    background-color: wheat;
}



.post a{
    color: #d90429;
}

footer a{
    color: #4361ee;
}

body {
    background-color: aliceblue;
}


button {
    font-size: 30px;
    background-color: antiquewhite;
}

.tag {
    color: #0b090a;
    background-color: #73ba9b;
    font-size: 20px;
}

#signup,
#login {
    background-color: #d4a373;
    color: #283618;
}

h1,
h2 {
    color: brown;
}